.about {
  position: relative;
}

.brandi {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.content {
  display: grid;
  place-content: center;
  gap: 2rem;
  background-color: var(--primary);
  color: var(--white);
  padding: 12rem 0 10rem 0;
  clip-path: polygon(0 0, 100% 125px, 100% 100%, 0 100%);
}

.content h2 {
  font-size: var(--lg);
  margin: 1rem auto -1.5rem auto;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleLabel {
  font-size: 1.2rem;
  font-weight: var(--bold);
}

.toggleBtn {
  position: relative;
  width: 55px;
  height: 26px;
  background-color: #ffd000;
  border: 6px solid var(--black);
  border-radius: 11px;
  cursor: pointer;
  margin: 1rem;
}

/* used padding for circle instead of fixed size with aspect ratio due to no support in Safari <15  */
.toggleBtn::after {
  content: '';
  position: absolute;
  padding: 12px;
  top: -11px;
  background-color: var(--white);
  border: 6px solid var(--black);
  border-radius: 50%;
  transform: translateX(-30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  transition: transform 150ms linear;
}

.toggleBtn.clicked {
  background-color: lawngreen;
}

.toggleBtn.clicked::after {
  transform: translateX(0);
}

.content p {
  width: 85vw;
  max-width: 40ch;
  font-size: 1.1rem;
  margin: 0 auto;
}

.inlineLink {
  font-weight: var(--bold);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.inlineLink:hover {
  opacity: 0.9;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  place-items: center;
  gap: 1rem 0.75rem;
  width: 85vw;
  max-width: 475px;
  margin-top: 2rem;
}

.buttons > :last-child {
  grid-column: 1/-1;
}

@media screen and (max-width: 600px) {
  .content {
    clip-path: polygon(0 0, 100% 75px, 100% 100%, 0 100%);
    padding: 10rem 0 8rem 0;
  }

  .toggleBtn {
    transform: scale(1.2);
  }

  .buttons {
    margin-top: 1.75rem;
  }

  .buttons > :last-child {
    grid-column: unset;
  }
}
