.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--themeBackground);
}

.bannerContent {
  position: relative;
  width: 90vw;
  max-width: 850px;
  margin-top: 7rem;
}

.nameSvg {
  aspect-ratio: auto 900 / 172;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  filter: var(--invert);
}

.dot {
  position: absolute;
  width: 5.9%;
  height: auto;
  top: 0;
  right: 3px;
  filter: var(--invert);
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: var(--lg);
  font-weight: var(--bold);
  line-height: 1.1;
  color: var(--primary);
  margin-top: 1.5rem;
}

.weather {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;
  margin: 0.5rem auto 0 auto;
  color: var(--themeTextColor);
}

.brandi {
  position: absolute;
  top: -11rem;
  left: 44%;
  transform: translateX(-44%);
  filter: drop-shadow(-5px 10px 6px rgba(0 0 0 / 40%));
}

.surprise {
  position: absolute;
  top: 9.5%;
  left: 44.3%;
}

@media screen and (max-width: 600px) {
  .container {
    height: 100vh;
  }

  .brandi {
    transform: translateX(-48%) translateY(10%);
  }

  .dot {
    right: 1.5px;
  }

  .surprise {
    transform: scale(0.8) translateX(-12%) translateY(-15%);
  }
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 1.5rem;
  }

  .weather {
    font-size: 1.1rem;
    line-height: 1.4;
    width: 250px;
  }

  .brandi {
    top: -8rem;
    left: 41%;
    transform: translateX(-44%);
    filter: drop-shadow(-5px 10px 6px rgba(0 0 0 / 40%));
  }
}

/* Landscape Tablet */
@media screen and (pointer: coarse) and (orientation: landscape) {
  .bannerContent {
    margin-top: 4rem;
  }
}

/* Landscape Mobile */
@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .bannerContent {
    top: 100px;
  }

  .brandi {
    top: -10.75rem;
    left: 26.5%;
    transform: scale(0.6);
  }
}
