.container {
  display: grid;
  place-content: center;
  color: var(--white);
  margin: 0 auto;
  background-image: linear-gradient(170deg, var(--primary) 70%, #5263fd, var(--primary));
  padding: 8rem 0 17rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.quote {
  font-size: var(--xl);
  font-weight: var(--bold);
  line-height: 1.15;
  margin: 0 auto;
  transform: skewY(-8deg);
}

.rush,
.free {
  --shadow: #2c2ccf;
  margin-top: 8px;
  filter: drop-shadow(1px 1px 0px var(--shadow)) drop-shadow(2px 2px 0px var(--shadow))
    drop-shadow(3px 3px 0px var(--shadow));
}

@media screen and (max-width: 600px) {
  .container {
    padding: 4rem 5vw 8rem 5vw;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  }

  .rush,
  .free {
    width: 88vw;
    height: auto;
    padding: 6px 0;
    filter: drop-shadow(1px 1px 0px var(--shadow)) drop-shadow(2px 2px 0px var(--shadow));
  }

  .quote {
    font-size: 8vw;
    transform: skewY(-10deg);
  }
}

/* Landscape Mobile */
@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .container {
    margin-top: 7rem;
    padding: 8rem 5vw;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}
