.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: -webkit-fill-available;
  background-color: var(--primary);
}

.message {
  background-color: var(--white);
  border: 6px solid var(--black);
  border-radius: var(--borderRadius);
  text-align: center;
  width: min(700px, 90vw);
  padding: 5rem;
  margin-top: -10vh;
}

.message h1 {
  font-size: var(--lg);
  max-width: 450px;
  margin: 0 auto -0.25rem auto;
}

.message small {
  display: block;
  margin-top: 1.5rem;
  color: #545454;
}

.passcode,
.storeLink {
  display: block;
  background-color: var(--primary);
  color: #fff;
  font-weight: var(--bold);
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  border-radius: var(--borderRadius);
  margin-top: 0.25rem;
  /* retains button size when clicked and checkmark image briefly appears */
  min-width: 100px;
  min-height: 40px;
}

.checkmark {
  width: 25px;
  margin: 0 auto;
}

.copied {
  background-color: #0de486;
}

@media screen and (max-width: 600px) {
  .message {
    padding: 2rem 1rem;
    margin-top: 0;
  }

  .storeLink {
    font-size: 1.2rem;
  }
}
