.card {
  position: relative;
  border: 1px solid #dedede;
  border-radius: var(--borderRadius);
  padding: 0.5rem 1rem 1rem 1rem;
  box-shadow: 3px 3px 10px -5px rgb(34 34 34 / 30%);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  padding: 0.25rem 0 0.5rem 0;
  margin-bottom: 1.5rem;
}

.editButton {
  background-color: transparent;
  background-image: url('/images/icons/edit-pen.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}

.columns {
  columns: 2;
  column-gap: 4rem;
  column-rule: 1px solid #dedede;
}

.card ul {
  margin-bottom: 40px;
}

.card ul li {
  margin: 0 0 1rem 0;
  line-height: 1.3;
  word-wrap: break-word;
}

.card ul li a {
  padding-bottom: 4px;
  text-decoration: none;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 6px;
  transition: background-size 0.1s ease;
}

.card ul li a:hover,
.card ul li a:focus {
  background-size: 100% 6px;
}

.addButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  color: grey;
  font-weight: var(--bold);
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.deleteButton {
  background-color: transparent;
  background-image: url('/images/icons/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 18px;
  margin-right: 5px;
}
