.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #6975fc, var(--primary));
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  padding: 2rem;
  width: 300px;
  border-radius: var(--borderRadius);
  box-shadow: 15px 20px 50px -20px rgb(34 34 34 / 70%);
}

.login input {
  width: 100%;
  border: 1px solid #dfdfdf;
}

.login p {
  font-size: 0.9rem;
  color: red;
}
