.borderTop,
.borderBottom {
  position: fixed;
  width: 100vw;
  height: 6px;
  background-color: var(--primary);
  z-index: 1000;
}

.borderLeft,
.borderRight {
  position: fixed;
  width: 6px;
  height: 100%;
  background-color: var(--primary);
  z-index: 1000;
}

.borderTop {
  display: none;
}

.borderLeft {
  top: 0;
  left: 0;
}
.borderBottom {
  bottom: 0;
  /* top: calc(100% - 6px); */
  left: 0;
}

.borderRight {
  top: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  .borderTop {
    display: block;
    top: 0;
  }

  .borderBottom {
    display: none;
  }
}
