.bugContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/home/bug.svg');
  background-repeat: no-repeat;
  bottom: 0;
  right: 25px;
  width: 65px;
  height: 70px;
  font-size: 1.5rem;
  font-weight: var(--bold);
  color: var(--white);
  padding-right: 2px;
  z-index: 1001;
}

@media screen and (max-width: 600px) {
  /* .bugContainer {
    top: -15px;
    right: 5px;
    width: 55px;
    height: 60px;
    font-size: 1.3rem;
  } */

  .bugContainer {
    display: none;
  }
}
