.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--white);
  font-weight: var(--bold);
}

.footer ul {
  display: flex;
  gap: 3rem;
  padding: 2rem 0;
}

.footer img {
  filter: invert();
}

.footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer small {
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .footer ul {
    gap: 2rem;
  }
}
