.footer {
  display: grid;
  place-content: center;
  gap: 1rem;
  background-color: var(--primary);
  color: var(--white);
  font-weight: var(--bold);
  border-top: 1px solid var(--borderColor);
  padding: 1rem 0 4rem 0;
}

.footer ul {
  display: flex;
  gap: 3rem;
}

.footer img {
  filter: invert();
}

.footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inlineLink {
  font-weight: var(--bold);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.inlineLink:hover {
  opacity: 0.9;
}

.footer small {
  font-size: inherit;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer ul {
    gap: 1.2rem;
    font-size: 0.9rem;
  }

  .footer img {
    width: 30px;
    height: auto;
  }
}
