.header {
  position: fixed;
  width: 100vw;
  height: 65px;
  border: 6px solid var(--primary);
  background-color: var(--themeBackground);
  box-shadow: 15px 20px 25px -25px rgb(34 34 34 / 70%);
  z-index: 1000;
}

.skipToContentLink {
  position: absolute;
  background: var(--primary);
  color: var(--white);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px;
  border: 3px solid var(--white);
  transform: translateY(-500%);
  z-index: 1001;
}

.skipToContentLink:focus {
  transform: translateY(0%);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.homeBtn {
  width: 40px;
  padding-bottom: 3px;
  filter: var(--invert);
}

.navList {
  display: flex;
  gap: 1rem;
  margin-bottom: 12px;
}

.navList li a {
  font-size: var(--med);
  font-weight: var(--bold);
}

.navList li a::after {
  display: block;
  content: '';
  position: relative;
  width: 100%;
  height: 6px;
  margin-top: -3px;
  border-radius: 1px;
  background: var(--primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 100ms linear;
}

.navList li a:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 600px) {
  .header {
    bottom: 0;
  }

  .navList li:nth-child(3) {
    display: none;
  }

  .navList {
    padding-right: 0.5rem;
  }

  /* .header {
    height: 55vh;
    width: 100vw;
    bottom: 0;
  }

  .header nav {
    flex-direction: column;
    justify-content: space-between;
  }

  .homeBtn {
    padding-top: 15px;
  }

  .navList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .navList li {
    border-bottom: 6px solid var(--primary);
    width: 100vw;
    text-align: center;
    padding: 10px 0;
  }

  .navList li:first-child {
    border-top: 6px solid var(--primary);
  }

  .navList li:last-child {
    border-bottom: none;
  }

  .navList li a {
    font-size: var(--lg);
  } */
}
