.playgroundContainer {
  position: relative;
  padding: 4rem 5vw 4rem 5vw;
  overflow-x: hidden;
  /* 70.04% below prevents angled line from appearing jagged */
  background: linear-gradient(
    -7deg,
    var(--primary),
    var(--primary) 75%,
    var(--white) 75.04%,
    var(--white)
  );
}

.playgroundContainer h1 img {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.playgroundContainer h2 {
  font-size: var(--med);
  font-weight: var(--bold);
  max-width: 925px;
  padding-top: 2rem;
  line-height: 140%;
}

@media screen and (max-width: 600px) {
  .playgroundContainer {
    background: linear-gradient(
      -10deg,
      var(--primary),
      var(--primary) 92%,
      var(--white) 92.04%,
      var(--white)
    );
  }

  .playgroundContainer h1 img {
    margin-top: -20px;
  }
}

@media screen and (max-width: 350px) {
  .playgroundContainer h2 {
    font-size: 1.25rem;
    line-height: 135%;
  }
}
