.lightning {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(255, 241, 39, 0.4);
  animation: flash 300ms linear 2s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
