.overcast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  filter: drop-shadow(10px 15px 30px rgba(34 34 34 / 25%)) brightness(0.85);
  overflow-x: hidden;
}

.cloudContainer {
  position: absolute;
  background: url('/images/weather/cloud-round.png'), transparent;
  background-repeat: repeat-x;
  width: 100vw;
  height: 500px;
  margin-top: -25px;
}

.cloudsOne {
  top: -140px;
  left: -175px;
}

.cloudsTwo {
  top: -100px;
  left: 25px;
}

.cloudSmall {
  position: absolute;
  top: -20px;
  left: 5vw;
  filter: drop-shadow(10px 15px 30px rgba(34 34 34 / 15%)) brightness(0.9);
  animation: float 450s linear infinite;
}

.cloudSmall img {
  transform: scale(0.75);
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media screen and (max-width: 600px) {
  .overcast {
    top: 0;
    height: 500px;
    background-position-y: 0;
    background-position-x: -450px;
    background-size: 250%;
    z-index: 100;
    overflow: hidden;
  }

  .cloudSmall {
    z-index: 101;
    left: -50px;
    top: -40px;
  }

  .cloudSmall img {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 350px) {
  .cloudSmall {
    top: -70px;
  }
}
