.card {
  position: relative;
  border: 1px solid #dedede;
  border-radius: var(--borderRadius);
  box-shadow: 3px 3px 10px -5px rgb(34 34 34 / 30%);
}

.card h2 {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: var(--bold);
  border-bottom: 1px solid #dedede;
}

.card pre {
  padding: 1rem;
}

.copyBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--primary);
  width: 35px;
  height: 35px;
  padding: 0.5rem;
  border-radius: var(--borderRadius) 0 0 0;
}

.copyBtn.copied {
  background-color: #0de486;
}
