.heading {
  text-align: center;
  margin: 2rem 0 0 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  place-content: center;
  align-items: stretch;
  justify-items: stretch;
  gap: 2rem;
  padding: 3rem;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
