@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  src: local('Inter-Regular'), url('../public/fonts/inter-regular-webfont.woff2') format('woff2'),
    url('../public/fonts/inter-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-display: swap;
  src: local('Inter-Black'), url('../public/fonts/inter-black-webfont.woff2') format('woff2'),
    url('../public/fonts/inter-black-webfont.woff') format('woff');
}

:root {
  --black: #1e1e1e;
  --white: #f9f9f9;
  --primary: #3e50ef;
  --textColor: #1e1e1e;
  --background: #f9f9f9;
  --bold: 900;
  --xl: 3.625rem;
  --lg: 2rem;
  --med: 1.35rem;
  --borderRadius: 8px;
  --techBorderColor: #b8b8b8;
  --borderColor: #737edd;
  --themeBackground: #f9f9f9;
  --themeTextColor: #1e1e1e;
}

[data-theme='dark'] {
  --themeBackground: #1e1e1e;
  --themeTextColor: #f9f9f9;
  --invert: invert(1) brightness(1.2);
}

/* Resets */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: 150px;
}

body {
  font-weight: 400;
  color: var(--textColor);
  background-color: var(--background);
}

a,
input,
button,
textarea,
select {
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

a,
button {
  cursor: pointer;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 1.25;
}
p {
  line-height: 1.6;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

address {
  font-style: normal;
}

/* The VoiceOver screen reader has an issue where unordered lists with a list-style-type value of none applied to them will not be announced as a list. To address this, add a zero-width space as pseudo content before each list item to ensure the list is announced properly. This ensures the design is unaffected by the bug fix and that list items are not improperly described.
https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type
 */

ul li::before {
  content: '\200B';
}

li {
  padding: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: var(--borderRadius);
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  color: var(--black);
}

/* Utilities */

*:focus-visible {
  outline: 6px solid #ffbf00;
  box-shadow: inset 2px 2px 5px rgba(0 0 0 / 25%);
  border-radius: var(--borderRadius);
}

.main {
  position: relative;
}

.sr-only:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .main {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100%;
  }

  .mobile-break {
    display: block;
  }
}

/* Landscape Mobile */
@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .main {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100%;
  }

  .mobile-break {
    display: block;
  }
}
